<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>
    <br>
    <br>
    <a href="/tweets">Home</a>
    <a href="/tweets/new">Compose</a>
    <a href="/logout">Log out</a>
  </body>
</html>
